<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJM4GVBQo0d7-jETtXl3h2j91L7SfKYFc</string>
	<key>GCM_SENDER_ID</key>
	<string>301149542259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kumarBrooms</string>
	<key>PROJECT_ID</key>
	<string>kumar-brooms-main</string>
	<key>STORAGE_BUCKET</key>
	<string>kumar-brooms-main.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301149542259:ios:159f7415e4b7a56a1f9706</string>
</dict>
</plist>